{% extends "faturalarapp/base.html" %}

{% block title %}
  HOME PAGE
{% endblock title %}

{% block content %}
    <div class="jumbotron jumbotron-fluid  bg-secondary">
    <div class="container">
      <h1 class="display-4 text-light"><center>Faturalarım</center></h1>
      <p class="lead"><center></center></p>
      <div class="text-center">
        <a class="btn btn-outline-success" href="{% url 'create' %}" role="button">Yeni Fatura Ekle</a>
      </div>
    </div>
  </div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Fatura Adı</th>
        <th scope="col">Ücret</th>
        <th scope="col">Tarih</th>
		{% if user.is_authenticated %}
		<th scope="col">Ödendi mi?</th>
        <th scope="col">Sil</th>
        <th scope="col">Güncelle</th>
		{% endif %}
      </tr>
    </thead>
	
    <tbody>
        {% for fatura in fatura_list %} 
		  {% if user.id == fatura.kullanici %}
          {% if fatura.odendi %}
            <tr>
                <td><del>{{ fatura.baslik }}</del></td>
				        <td><del>{{ fatura.fiyat }}₺</del></td>
                <td>{{ fatura.tarih }}</td>
				{% if user.is_authenticated %}
				<td><a class="btn btn-success" href="{% url 'yes_finish' fatura.id %}" role="button">Ödendi</a></td>
                <td><a class="btn btn-danger" href="{% url 'delete' fatura.id %}" role="button">Sil</a></td>
                <td><a class="btn btn-primary" href="{% url 'update' fatura.id %}" role="button">Güncelle</a></td>
				{% endif %}
            </tr>
          {% else %}
            <tr>
                <td>{{ fatura.baslik }}</td>
				<td>{{ fatura.fiyat }}₺</td>
                <td>{{ fatura.tarih }}</td>
				{% if user.is_authenticated %}
				<td><a class="btn btn-danger" href="{% url 'no_finish' fatura.id %}" role="button">Ödenmedi</a></td>
                <td><a class="btn btn-danger" href="{% url 'delete' fatura.id %}" role="button">Sil</a></td>
                <td><a class="btn btn-primary" href="{% url 'update' fatura.id %}" role="button">Güncelle</a></td>
				{% endif %}
            </tr>
			{% endif %}
          {% endif %}
           
        {% endfor %}
    </tbody>
  </table>
<footer>
  <center><p>D-30 TEZ ÖDEVİ</p></center>
</footer>
</div>
  

{% endblock content %}